*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  text-align: center;
}
.app h1 {
  text-align: center;
  padding: 50px;
}
.products {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.products img{
  width: 200px;
  height: 200px;
  margin: 10px auto;

}
.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}
button {
  font-size: 1rem;
  padding: 5px;
  max-width: 50%;
  margin: 0 auto;
}
button:hover{
  cursor: pointer;
}
header button {
  border: none;
  background-color: inherit;
}
header button:hover{
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 10px;
}